In [2]:
import pandas as pd
df = pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})
df

   col1  col2
0     1     3
1     2     4

In [3]:
df.to_parquet('test.parquet')

In [4]:
df2 = pd.read_parquet('test.parquet')
df2

   col1  col2
0     1     3
1     2     4

In [5]:
# from pyarrow.feather import feather
df2.to_feather('test2.ftr')

In [6]:
df3 = pd.read_feather('test2.ftr')
df3

   col1  col2
0     1     3
1     2     4

In [18]:
import dask.array as da
from dask.distributed import Client

# Start a local Dask client
client = Client('tcp://192.168.50.165:8786')

# Simple Dask array operation
x = da.random.random((40000, 40000))

y = da.exp(x).sum()

y.compute()
# print(y)

c:\Users\steve\AppData\Local\Programs\Python\Python311\Lib\site-packages\distributed\client.py:1612: VersionMismatchWarning: Mismatched versions found

+---------+--------+-----------+---------+
| Package | Client | Scheduler | Workers |
+---------+--------+-----------+---------+
| numpy   | 2.1.0  | 2.1.3     | 2.1.3   |
+---------+--------+-----------+---------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

np.float64(2749251279.13805)

2024-11-10 12:58:32,039 - distributed.client - ERROR - Failed to reconnect to scheduler after 30.00 seconds, closing client

In [19]:

x = da.random.random((40000, 40000))

y = da.exp(x).sum()

y.compute()

np.float64(2749249053.640382)

In [ ]:
import socket
import time
HEADER = 10

ws = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
ws.bind((socket.gethostname(), 9092))
ws.listen(5)

while True:
    (clientsocket, address) = ws.accept()
    print(f'Connect from {address} established')

ModuleNotFoundError: No module named 'dask_kubernetes'

In [ ]:
import socket
HEADER = 10
ws = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
ws.connect((socket.gethostname(), 9092))

In [2]:
a = 'The time is 1731280727.1680348'
print(len(a))

30